/* =====================
 * Typography
 * ====================*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,700)

.info_page
	.info_copy h2,
	p
		font-family: eb-garamond, georgia, serif
		+adjust-leading-to(1)

	.info_nav a,
	h1,
	h3
		font-family: 'Roboto Condensed', sans-serif

	.info_copy h1
		letter-spacing: 4px